<h1>{{user.value.name}}</h1>
<div class="fToolbar">
<p-dropdown [options]="years" [(ngModel)]="selectedYear"></p-dropdown>
<p-dropdown [options]="months" [(ngModel)]="selectedMonth"></p-dropdown>
<button pButton type="button" label="Поиск" (click)="searchCosts()" class="search-btn"></button>
</div>
<p-dataTable [value]="costs" rowGroupMode="subheader" groupField="rank" [sortableRowGroup]="false"
             [editable]="openEditing" [emptyMessage]="'Записей не найдено.'" (onEditComplete)="editTable($event)">
  <template pTemplate="rowgroupheader" let-rowData>{{rowData['rank']}}</template>
  <p-column field="costName" header="Статья расходов"></p-column>
  <p-column field="planQty" header="к-во план" [editable]="openEditing"></p-column>
  <p-column field="price" header="цена" [editable]="openEditing"></p-column>
  <p-column field="planTotal" header="сумма план"></p-column>
  <p-column field="factQty" header="к-во факт" [editable]="openEditing"></p-column>
  <p-column field="factTotal" header="сумма факт"></p-column>
  <p-column field="diff" header="откл. Сум">
    <template let-col let-cost="rowData" pTemplate="body">
      <span>{{cost[col.field]}}</span>
    </template>
  </p-column>
  <template pTemplate="rowgroupfooter" let-cost>
    <td colspan="6" style="text-align:right">Итого:</td>
    <td>{{calculateGroupTotal(cost['rank'])}}</td>
  </template>
</p-dataTable>
